@import "common";

@font-face {
  font-family: 'iconfont';
  src: url('../font/font-index/iconfont.eot');
  src: url('../font/font-index/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/font-index/iconfont.woff') format('woff'),
  url('../font/font-index/iconfont.ttf') format('truetype'),
  url('../font/font-index/iconfont.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont2';
  src: url('../font/font-list/iconfont.eot');
  src: url('../font/font-list/iconfont.eot?#iefix') format('embedded-opentype'),
  url('../font/font-list/iconfont.woff') format('woff'),
  url('../font/font-list/iconfont.ttf') format('truetype'),
  url('../font/font-list/iconfont.svg#iconfont') format('svg');
}

$com-width:1190px;

#sreach-wrap{
  height: 92px;
}
#sreach{
  img{
    margin-top: 40px;
    left: 10px!important;
  }
  div{
    margin-top: 20px!important;
  }
  p{
    font-size: 14px;
    line-height: 14px;
  }
}

#contect{
  width: $com-width;
  margin: 20px auto;
  #change{
    width: 100%;
    .top{
      font-size: 14px;
      color: #999;
      width: 100%;
      height: 38px;
      box-sizing: border-box;
      padding-top: 8px;
      border-top: 1px solid #e5e5e5;
      >a{
        height: 28px;
        width: 45px;
        text-align: center;
        float: left;
      }
      >span{
        float: left;
        margin-right: 8px;
      }
      div{
        font-family: iconfont2;
        float: left!important;
        width: 162px;
        height: 20px;
        border: 1px solid #ccc;
        input{
          width: 135px;
          height: 18px;
          float: left;
          border: 0;
        }
        a{
          width: 25px;
          line-height: 20px;
          height: 20px;
          float: left;
        }
      }
      >p{
        float: right;
        padding-right: 5px;
        span{
          color: #333;
          padding: 0 3px;
          float: none;
        }
      }
    }
    #table{
      font-family: iconfont2;
      width: $com-width;
      margin: 8px auto;
      border: 1px solid #D1CCC5;
      background: #fff;
      overflow: hidden;
      >div{
        width: 100%;
        box-sizing: border-box;
        overflow: hidden;
        background: #f5f5f5;
        border-bottom: 1px dashed #D1CCC5;
        color: #806F66;
        line-height: 20px;
        a:hover{
          color: red;
        }
        .tit{
          width: 119px;
          box-sizing: border-box;
          padding-top: 8px;
          height: auto;
          float: left;
          i{
            font-style: normal;
            padding: 0 3px 0 10px;
            opacity: 0.7;
          }
        }
        ul{
          width: 1190-122px;
          background: #fff;
          box-sizing: border-box;
          padding-left: 20px;
          float: left;
          li{
            float: left;
            width: 180px;
            height: 22px;
            font-size: 14px;
            margin: 0 5px 8px 0;
            color: #806F66;
          }
        }
      }
    }
    #main{
      width: 100%;
      overflow: hidden;
      .top{
        width: 1180px;
        height: 37px;
        padding: 5px;
        margin: 10px 0;
        background: #FAF9FB;
        font-family: iconfont2;
        font-size: 14px;
        p{
          float: left;
          margin-right: 5px;
          height: 22px;
          font-size: 14px;
          color: #806f66;
          a{
            background: #fff;
            border: 1px solid #ccc;
            padding: 0 5px;
            line-height: 22px;
            float: left;
            color: #806f66;
          }
          i{
            font-style: normal;
            padding: 0 2px;
          }
        }
        p:nth-child(2){
          width: 115px;
          height: 24px;
          background: #F7F5F5;
          color: #B0A59F;
          border: 1px solid #ccc;
          position: relative;
          input{
            float: right;
            height: 22px;
            width: 50px;
            position: absolute;
            top: 0;
            right: 0;
            border: 0;
          }
        }
        p:nth-child(3){
          width: 122px;
          border: 1px solid #ccc!important;
          padding: 0;
          input{
            width: 55px;
            height: 22px;
            background: #fff;
            border: 0;
          }
          #price1{
            float: left;
            border-right: 1px solid #ccc;
          }
          #price2{
            float: right;
            border-left: 1px solid #ccc;
          }
        }
        p:nth-child(4){
          width: 255px;
          height: 22px;
          background: #fff;
          border: 1px solid #ccc;
          overflow: hidden;
          >a{
            border: 0;
            background: 0;
            float: right!important;
          }
          label{
            float: left;
            padding: 0 5px;
            input{
              float: left;
            }
            img{
              height: 16px;
              margin-top: 2px;
              float: left;
            }
          }
        }
      }
    }
  }
}
    .item-wrap{
      border: 3px solid #fff;
      float: left;
      margin-right: 10px;
      margin-bottom: 10px;
      &:hover{
        border-color: red;
      }
    }
    .item1{
      box-sizing: border-box;
      width: 220px;
      height: 352px;
      padding: 4px 4px 0;
      border: 1px solid #eee;
      position: relative;
      img{
        width: 210px;
        height: 210px;
        background: lightblue;
        margin-bottom: 4px;
      }
      figcaption{
        >p{
          width: 210px;
          height: 30px;
          margin-bottom: 5px;
          color: #ff0036;
          font-size: 20px;
          font-weight: 700;
        }
        a:nth-of-type(1){
          width: 200px;
          max-height: 30px;
          overflow: hidden;
          text-overflow: ellipsis;
          margin: 5px 0;
          font-size: 12px;
          line-height: 14px;
          color: #333;
          display: block;
        }
        a:nth-of-type(2){
          font-size: 12px;
          color: #999;
          width: 220px;
          height: 22px;
          line-height: 20px;
          margin: 8px 0;
          display: block;
        }
        a:hover{
          color: #f00;
        }
        div{
          width: 210px;
          height: 33px;
          border-top: 1px solid #eee;
          position: absolute;
          bottom: 0;
          p{
            float: left;
          }
          p:nth-child(1){
            width: 85px;
            height: 100%;
            line-height: 33px;
            border-right: 1px solid #eee;
            font-size: 12px;
            text-align: center;
            color: #999;
            span{
              color: #b57c5b;
            }
          }
          p:nth-child(2){
            width: 85px;
            height: 100%;
            line-height: 33px;
            border-right: 1px solid #eee;
            font-size: 12px;
            text-align: center;
            color: #999;
            span{
              color: #38b;
            }
          }
          p:nth-child(3){
            height: 100%;
            line-height: 33px;
            font-size: 16px;
            color: #38b;
          }
        }
      }
    }




@include foot;